*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  background:#9cc9fb;
  font-family:Arial, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  width:430px;
  background:white;
  padding:30px;
  border-radius:25px;
  box-shadow:0 15px 35px rgba(255,255,255,.7);
}

.card h1{
  text-align:center;
  color:#2f4f87;
  font-size:34px;
  font-weight:400;
  margin-bottom:10px;
}

.card p{
  text-align:center;
  color:#4e5f91;
  margin-bottom:25px;
}

.card label{
  display:block;
  color:#4e5f91;
  margin-bottom:6px;
}

.card input{
  width:100%;
  padding:13px;
  border:1px solid #cfe0ff;
  border-radius:8px;
  margin-bottom:18px;
  outline:none;
}

.card button{
  display:block;
  margin:10px auto 0;
  padding:13px 35px;
  background:#3fb5f5;
  color:white;
  border:none;
  border-radius:8px;
  font-weight:bold;
  cursor:pointer;
}