*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
}

.container{
    display:flex;
    width:100%;
    height:100vh;
}

.box{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top:20px;
    color:white;
    font-size:40px;
    font-weight:bold;
}

.box1{background:green;}
.box2{background:yellow; color:black;}
.box3{background:purple;}
.box4{background:gray;}
.box5{background:blue;}
.box6{background:orange;}
.box7{background:white; color:black;}
.box8{background:red;}
.box9{background:brown;}